@charset "utf-8";
/* CSS Document */
/*web-mall font*/
@font-face {
    font-family: 'webmall';

    font-weight: normal;
    font-style: normal;
}
/*Entypo font*/

@font-face {
    font-family: 'FontomasEmtypo';

    font-weight: normal;
    font-style: normal;
}
/*IconicFill font*/
@font-face {
    font-family: 'FontomasIconicFill';

    font-weight: normal;
    font-style: normal;
}
/*IconicStroke Font*/
@font-face {
    font-family: 'FontomasIconicStroke';

    font-weight: normal;
    font-style: normal;
}
/*WebSymbolsRegular Font*/
@font-face {
    font-family: 'FontomasWebSymbolsRegular';

    font-weight: normal;
    font-style: normal;

}
.mall-icon{font-family:"webmall"}
.Regular-icon{font-family:"FontomasWebSymbolsRegular"}
.Stroke-icon{font-family:"FontomasIconicStroke"}
.fill-icon{font-family:"FontomasIconicFill"}
.Emtypo-icon{font-family:"FontomasEmtypo"}

.page-wrap{min-width: 320px;max-width: 640px;margin: 0 auto;}

a{color:#888;}
/*带搜索导航栏样式*/
.header-hs{height: 0.44rem;background: #fff;padding:0 0.1rem;line-height: 0.44rem;position: fixed;top: 0;left: 0;width: 100%;z-index:1001;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border-bottom: 1px solid #808080;}
.header-back{float: left;height: 0.3rem;width:0.2rem;background: url(../../images/lh/Left_Arrow.png) left center no-repeat;display: inline-block;margin-top: 0.05rem;background-size: 0.12rem}
.header-msg{float: right;height: 0.3rem;width:0.24rem;  background-repeat:no-repeat;background-position:right center;display: inline-block;background-size: contain;margin-top: 0.05rem;}
.header-search{margin:0.07rem 0.1rem;background: #eff1f3;border-radius: 0.05rem;height: 0.3rem;line-height: 0.3rem;padding:0 0.05rem;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.header-search a{display: inline-block; margin-left: 0.1rem;margin-right: 0.05rem;width: 0.15rem;height: 0.15rem;background-size: cover; vertical-align: sub;}
.header-search input{border:none;background: none;font-size: 0.12rem;width:1.8rem;outline: none;color: #888}
/**/
.header-hs>ul{
    position: fixed;width: .8rem;height:0;background:rgba(0,5,10,.6);top:.35rem;right: 0.04rem;border-radius: .08rem;overflow: hidden;transition: all .3s;
}
.header-hs>ul>li{
    width: .8rem;height: .2rem;box-sizing: border-box;text-align: center;
}
.header-hs>ul>li:last-child>a{border-bottom: 0;}
.header-hs>ul>li:first-child>a{border-top:0;}
.header-hs>ul>li>a{margin: 0;padding: 0;border-top: 1px solid #fff;border-bottom: 1px solid #fff;
    display: block;width: .8rem;height: .2rem;box-sizing: border-box;line-height: .2rem;font-size: .12rem;color: #fff;text-align: center;
}
/*带标题导航栏样式*/
.header-hs > h1{font-size: 0.17rem;color: #212121;width: 100%;float: left; display: inline-block;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;position: absolute;text-align: center;left: 0;bottom: 0;z-index: -1}

/*底部菜单栏样式*/
.footer-com{height: 0.48rem;position: fixed;background: #fff;border-top: 1px solid #dcdcdc;bottom: 0;left: 0;padding:0 0.1rem;z-index: 1002;width: 100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.footer-com table{height: 100%}
.footer-com td{padding:0.075rem 0;text-align:center;width: 20%;font-size: 0.1rem;color: #888;}
.footer-com td img{height:45%}
.footer-com td.active{color:#d1a542;}

.footer-message{height: 0.32rem;position: fixed;background: #fff;border-top: 1px solid #dcdcdc;bottom: 0;left: 0;padding:0 0.1rem;z-index: 1002;width: 100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
/*快速入口图标列表样式*/
.QEnter{height: auto;overflow: hidden;background: #fff;}
.QEnter li{width: 20%;text-align: center;font-size: 0.1rem;float: left;}
.QEnter li a{display: block;color: #666;padding: 0.15rem 0}
.QEnter li img{width: 0.32rem;}

/*单列促销sales/热卖hot滑动列表样式*/
.sales , .hot{background: #fff;width: 100%;height: auto;overflow: hidden;margin-top: 0.1rem}
.sales h2 , .hot h2{font-size: 0.135rem;color: #333;line-height: 1;border-bottom: 1px solid #dcdcdc;padding:0.1rem;display: block;}
.sales a  , .hot  a{font-size: 0.09rem;color: #fc4747}
/*
.sales , .hot{background: #fff;width: 100%;height: auto;overflow: hidden;margin-top: 0.1rem}
.sales h2 , .hot h2{font-size: 0.135rem;color: #333;line-height: 1;border-bottom: 1px solid #dcdcdc;padding:0.1rem;display: block;}
.sales a  , .hot  a{font-size: 0.09rem;color: #fc4747}
.sales img , .hot img{margin-left: 0.025rem;height:0.11rem;vertical-align: middle;}
.sales .swiper-container{margin:0.1rem;overflow: auto;position: relative;overflow-y: visible;}
.sales .swiper-wrapper {height: auto;float: left;}
*/
/*==*/
.sales .swiper-wrapper .swiper-slide img{width:100%;height: 1rem;margin-left: 0}
.sales .swiper-wrapper .swiper-slide h3{font-size:0.12rem;margin-top: 0.05rem;line-height: 0.1rem}
.sales .swiper-wrapper .swiper-slide a s{color: #c1c1c1}
/**
.sales .swiper-wrapper .swiper-slide{width: 0.72rem;text-align: center;margin: 0 0.075rem;float: left;}
.sales .swiper-wrapper .swiper-slide a{display: block;}
.sales .swiper-wrapper .swiper-slide img{width:100%;height: 1rem;margin-left: 0}
.sales .swiper-wrapper .swiper-slide h3{font-size:0.12rem;margin-top: 0.05rem;line-height: 0.1rem}
.sales .swiper-wrapper .swiper-slide a s{color: #c1c1c1}
**/
/*==*/
/**
.hot .swiper-container{margin:0.1rem auto;overflow:auto;z-index:1;-webkit-backface-visibility:hidden;}
.hot .swiper-wrapper{
    position:relative;
    width:10rem;
    -webkit-transition-property:-webkit-transform, left, top;
    -webkit-transition-duration:0s;
    -webkit-transform:translate3d(0px,0,0);
    -webkit-transition-timing-function:ease;
    
    -moz-transition-property:-moz-transform, left, top;
    -moz-transition-duration:0s;
    -moz-transform:translate3d(0px,0,0);
    -moz-transition-timing-function:ease;
    
    -o-transition-property:-o-transform, left, top;
    -o-transition-duration:0s;
    -o-transform:translate3d(0px,0,0);
    -o-transition-timing-function:ease;
    -o-transform:translate(0px,0px);
    
    -ms-transition-property:-ms-transform, left, top;
    -ms-transition-duration:0s;
    -ms-transform:translate3d(0px,0,0);
    -ms-transition-timing-function:ease;
    
    transition-property:transform, left, top;
    transition-duration:0s;
    transform:translate3d(0px,0,0);
    transition-timing-function:ease;

    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.hot .swiper-slide{border-right: 1px solid #eee;padding:0 10px;position: relative;float: left;-webkit-box-sizing: border-box; -moz-box-sizing: border-box;box-sizing: border-box;}
.hot .swiper-slide a{display: block;text-align: left;}
.hot .swiper-slide img{margin-left: 0;height: 0.98rem;overflow: hidden;width: 100%}
.hot .swiper-slide p{overflow: hidden;display: -webkit-box;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient: vertical;font-size: 0.1rem;margin-top: 0.05rem;color: #666;margin-bottom: 0.05rem}
.hot .swiper-slide b{color:#fc4747;font-size: 0.1rem }
.hot .swiper-slide a.buy{position: absolute;right: 0.075rem;bottom: 0;font-size: 0.1rem;color: #fff;background: #fc4747;padding:1px 4px;border-radius: 2px}
**/

/*左右带横线标题样式*/
.line-header{text-align: center;margin-bottom: 0.1rem;font-size: 0.135rem;color: #212121;position: relative;display: inline}
.line-header:after{  display: inline-block;position: absolute;left: 110%;bottom:20%;}
.line-header:before{ display: inline-block;position: absolute;right: 110%;bottom:-30%;transform:rotate(180deg);}

/*两列商品列表*/
.lists-col-2{background: transparent;width: 100%;height: auto;overflow: hidden;margin-top: 0.1rem}
.lists-col-2 li{width: calc(50% - 0.1rem);width: -webkit-calc(50% - 0.1rem);width: -moz-calc(50% - 0.1rem);margin:0 0.05rem 0.1rem 0.05rem;float: left;text-align: left;background: #fff;overflow:hidden;height:2.2rem}
.lists-col-2 img{width: 100%;height: 1.56rem}
.lists-col-2 a{display: block;width: 100%;background: #fff;font-size: 0.1rem;color: #666;}
.lists-col-2 hgroup{margin: 0.05rem}
.lists-col-2 h3{font-size: 0.12rem;color: #b52323}
.lists-col-2 h4{overflow : hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;font-size: 0.1rem}


#backtop , .back{position: fixed;width: 0.3rem;height: 0.3rem;display: block;background-size: cover;opacity: 0.6;background: #000;border-radius: 50%;text-align: center;;line-height: 0.3rem;z-index: 1000;}
#backtop img {width: 45%}
#backtop{bottom:0.64rem;right:0.2rem;}

.recommend{margin-top:0.1rem;width: 100%}
.page-tit{height: 0.42rem;line-height: 0.42rem;font-size: 0.12rem;border-bottom: 1px solid #dcdcdc;margin-top: 0.44rem;background: #fff}
/*登录div*/
.loginin{width: 100%;margin-top: 0.5rem;}

/*字体颜色*/
.c-b4{color: #b4b4b4}
.c-r1{color: #f96267}
.c-88{color: #888}
.c-g1{color:#518412;}
.tc a{color:#e94947;}
/*按钮样式*/
.btn-gl , .btn-rf{height: 0.22rem;border-radius: 3px;width: 0.64rem;text-align: center;line-height: 0.22rem;font-size: 0.12rem;display: inline-block;}
.btn-rf{color: #fff;background: #f96267}
.btn-gl{border:1px solid #b4b4b4;color: #666;}
.btn-login{background-color: #e94947;color: #fff;font-size: 0.15rem;display: block;margin: 0.25rem 0.2rem;height: 0.4rem;border-radius: 0.05rem;text-align: center;line-height: 0.4rem}
.btn-submit{background-color: #f96267;color: #fff;font-size: 0.15rem;display: block;margin: 0.25rem 0.2rem;height: 0.36rem;border-radius: 0.05rem;text-align: center;line-height: 0.36rem}
.addCar-img{ display: inline-block;width: 0.2rem;height: 0.2rem;background-size: contain;-webkit-background-size: contain;}


/****弹窗3*********/
.Alert-dialog{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display:none;
}
.Alert-dialog .Alert-dialogBg{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.75;
}
.Alert-dialog .Alert-dialogCentent{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 80%;
    background: #FFFFFF;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.Alert-dialog .Alert-dialogtitle{
    padding: 0.16rem;
    color: #333;
    font-size: 0.135rem;
    font-weight: 400;
}
.Alert-dialog .Alert-dialogCentent .Alert-dialogBody{
    padding: 0 0.16rem 0.16rem;
    text-align: center;
}
.Alert-dialog .Alert-dialogCentent .Alert-dialogBody p{
    font-size: 0.12rem;
    color: #666;
    font-weight: 400;
    line-height: 0.18rem;
}
.Alert-dialog .Alert-dialogCentent .Alert-dialogButton{

    display: -webkit-box;
    display: -moz-box;

    border-top: 1px solid #eee;
    height: 0.48rem;
    line-height: 0.48rem
}
.Alert-dialog .Alert-dialogCentent .Alert-dialogButton a{
    text-align: center;
    display: block;
    width: 100%;
    color: #fc4747;
    font-size: 0.15rem;

}

/****弹窗3 end 分页 start*********/
.pageEndFlag{color:#888;text-align:center;padding-top:0.1rem;margin-bottom:0.1rem;font-size:0.12rem;background:#f0f0f0}
/****分页 end*********/

/**进度条的菜单**/
.header-menu {float: right;height: 0.3rem;width:0.24rem; background-repeat:no-repeat;background-position:right center;display: inline-block;background-size: contain;margin-top: 0.05rem;}

.cst {width: 1rem;height: 0.9rem;position: fixed;right: 0rem;top: 0.4rem;text-align: center;font-size: 0.14rem;background: #776e6e;border-radius: 5px;color: #fff;line-height: 0.3rem;/* margin-right: 0.0rem; */}
.cst li {height: 0.3rem;}

.font-bolder {
    font-weight: bolder;
}

.color-d1a741 {
    color : #d1a741;
}

.identify-text {
    color : #989898;
    margin-top: 5px;
}

.identify-font {
    color : #d1a741;
    font-size: 0.12rem;
}

.identify-btn {
    background-color: white;
    color : #d1a741;
    font-size: 0.12rem;
    width: 0.7rem;
    height: 0.23rem;
    border-radius: 10px;
    border: 1px solid #989898;
    margin-top: 5px;
}

.identify-add {
    width: 100%;
    background-color: white;
    color : #d1a741;
}

.identify-add-icon {
    display: inline-block;
    text-align: center;
    height: 15px;
    width: 15px;
    margin-right: 5px;
    background: url(../../images/lh/add-identity.jpg) no-repeat center;
}

.mg-20 {
    margin: 20px;
}

.mgt-045 {
    margin-top: 0.45rem;
}

.identify-btn-area {
    margin: 1.17647059em 30px 0.3em;
}

.identify-btn-bg {
    background-color: #d0a642;
}

.identify-text {
    color: #d0a642;
    font-size: 16px;
}

.mystore-vip-icon {
    display: inline-block;
    float: left;
    text-align: center;
    height: 15px;
    width: 45px;
    margin-right: 5px;
    background: url(../../images/lh/vip-icon.png) no-repeat center;
}

.m-hidden{
    display: none;
}