.like{margin-top: 0.55rem;width: 2.5rem;margin-left: 0.1rem;border-radius: 5px;border-style: none;height: 0.3rem;background: url(../img/rightlogo.png) no-repeat left center;background-size: 0.25rem;text-align: center;background-color: #fff;}
.posr{width: 100%;height: 1.9rem;background-color: #fff;margin-top: 0.15rem;}
.posr-item{width: 100%;height: 1.5rem;background-color: #fff;margin-top: 0.15rem;}
.posr-businessDetail{width: 100%;height: 1.5rem;background-color: #fff;margin-top: 0.55rem;}
.left{float: left; }
.left img{width: 3.2rem;}
.right{width: 1.8rem;float: right;}
.right p{font-size: 0.13rem;height: 0.3rem;}
.posr1{width: 100%;height: 0.5rem;background-color: #fff;margin-top: 0.1rem;}
.like1{width: 2.8rem;margin-left: 0.1rem;border-radius: 10px;border-style: none;height: 0.3rem;line-height:.3rem; background-size: 0.2rem;text-align: center;background-color: #eff1f3;background-position-x: 0.1rem;}

.com{margin-top: 0.4rem;background-color: #fff;height: 0.35rem;text-align: center;font-size: 0.14rem;line-height: 3;}
.com ul li{width: 1rem;float: left;height: 0.3rem;}
.ov{color: #c71212;}
.checkList>li:after{
	display: inline-block;content: " ";width: .08rem;height: .14rem; vertical-align: middle;background-size: 100% ;overflow: hidden;
}
.checkList>li.high:after{background:url(../img/high-low1.png) no-repeat;background-size: 100% ;}
.checkList>li.low:after{background:url(../img/high-low2.png) no-repeat;background-size: 100%  ;}
.cf{*zoom:1;}
.cf:after{
	display: table;
	content: " ";		
	clear: both;
}
.scrollItem{display: inline-block;width:0.4rem;height:0.24rem; padding-top:0.11rem; }
.scrollItemChecked{background-color: #2E73D6;}
.scrollItem2{display: inline-block;width:0.4rem;height:0.24rem;float: left; padding :0.11rem 0.11rem 0rem 0.11rem; text-align: center;   }

.bid{height: 0.32rem;}
.biddiv1{height: 0.3rem;width: 35%;display: inline-block}
.biddiv1span{margin-top: 10px;float: right;overflow: hidden;width: 0.72rem;height: 0.2rem;}
.biddiv2{height: 0.2rem;width: 59%;display: inline-block;float:right; padding-top: 7px;}
.biddiv2span{margin-left: 0.1rem;}
.bidimg{width: 25px; height: 25px;border-radius:70%;margin-top: 5px;margin-left: 0.15rem}

.bidFirst{color: red;}