@charset "utf-8";
#order-tit{height: 0.42rem;line-height: 0.42rem;font-size: 0.12rem;border-bottom: 1px solid #dcdcdc;margin-top: 0.44rem;background: #fff}
#order-tit li{width: 20%;text-align: center;float: left;}
#order-tit li.cur{color: #fc4747;border-bottom: 2px solid #fc4747}

#tradingCenter-tit{height: 0.42rem;line-height: 0.42rem;font-size: 0.12rem;border-bottom: 1px solid #dcdcdc;margin-top: 0.44rem;background: #fff}
#tradingCenter-tit li{width: 50%;text-align: center;float: left;}
#tradingCenter-tit li.cur{color: #fc4747;border-bottom: 2px solid #fc4747}

.order-item{background: #fff;width: 100%;height: auto;overflow: hidden;}
.order-bill{margin-top: 0.05rem;background: #fff;width: 100%;height: auto;overflow: hidden;}
.order-bill>ul>li{width: 96%;height: .18rem;margin: 0 auto;font-size: .12rem;line-height: .18rem}
.order-bill>ul>li>span{ float: right;}
.order-item header{height: 0.28rem;line-height: 0.28rem;padding:0 0.1rem;font-size: 0.1rem;color: #888}
.order-item header time{color: #b4b4b4;font-size: 0.08rem}
.order-item>div> header time{background: url(../images/ico-time.png) left center no-repeat;background-size: 0.1rem;padding-left: 0.15rem;}
.order-i-pro{background: #f5f5f5;width: 100%;height: 0.98rem;overflow: hidden;border-bottom: 1px solid #fff;}
.order-i-pro .order-list-M{overflow: hidden;width: 0.88rem;text-align: center;/*padding:0 0.1rem*/position: relative;}
.panicBuying>.order-i-pro>tbody>tr>.order-list-M:after{position: absolute;width: .2rem;height: .2rem;background: url(../images/yiyuangou-icon.png) no-repeat;display: block;content: " ";left: .03rem;top: 0.03rem;}
.order-i-pro .order-list-M img{width: 0.78rem;height: 0.78rem;}
.order-i-pro .order-list-H{position: relative;padding-right: 0.1rem}
.order-i-pro .order-list-H h2{font-size: 0.12rem;color: #333;line-height: 0.18rem;overflow : hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.order-i-pro .order-list-H p{font-size: 0.09rem;color: #b4b4b4;margin-top: 0.03rem;}
.order-i-pro .order-list-H b{font-size: 0.12rem;color: #666;font-weight: normal;float: left}
.order-i-pro .order-list-H p span{color: #888;/*float: right;*/line-height: 0.15rem}
.order-item footer > p{height: 0.32rem;text-align: right;padding: 0 0.1rem;color: #666;font-size: 0.12rem;line-height: 0.32rem;}
.order-item footer > p span{color: #888;font-size: 0.08rem}
.order-item footer > ul{border-top: 1px solid #dcdcdc;padding: 0.1rem}
.order-item footer li{float: right;margin-left: 0.1rem}
.order-item footer li a{box-sizing:border-box;-webkit-box-sizing:border-box;}
.panicBuying>footer>p>span{float: left;height:.32rem ;line-height: .32rem;position: relative;text-align:left;}
.panicBuying>footer>p>span.complete{color: #FE6200;}
.panicBuying>footer>p>span.panicBuying{line-height: 0.2rem;text-align: center;}
.panicBuying>footer>p>span.code{color: #FE6200;line-height: .1rem;text-align: center;padding-top: .07rem;}
.panicBuying>footer>p>span.panicBuying:after{position: absolute;width: .6rem;height: .1rem;background: red;display: block;content: " ";bottom: .05rem;left: 0;border-radius: .05rem;}
.panicBuying>footer>p>span.panicBuying:before{position: absolute;width: 1rem;height: .1rem;background: #ccc;display: block;content: " ";bottom: .05rem;left: 0;border-radius: .05rem;}
/*确认订单页面也是*/
.order-address{margin-top: 0.44rem;background: #fff ; padding:0.1rem 10% 0.1rem 0.1rem;}
.order-address > h2{padding:0 0.1rem;font-size: 0.15rem;color: #333;margin: 0.1rem 0}
.order-address > h2 span{color: #666;font-size: 0.12rem}
.order-address > p{padding:0 0.1rem;line-height: 0.2rem;color: #888;font-size: 0.12rem;margin-bottom: 0.1rem}

.note{width: 100%}
.note textarea{width: 100%;border: none;height: 0.8rem;outline: none;padding:0.1rem;}
.footer-sum{position: fixed;width: 100%;bottom: 0;height: 0.42rem;background: #fff;left: 0;}
.btn-sum{height: 100%;line-height: 0.42rem;color: #fff;font-size: 0.16rem;text-align: center;width: 0.92rem;background: #fc4747;display: inline-block;float: right;}
.footer-sum hgroup{float: right;max-width: 40%;text-align: right;margin: 0.04rem 0.1rem}
.footer-sum hgroup p{font-size: 0.09rem;color: #b4b4b4;}
.footer-sum hgroup b{font-size: 0.1rem;color: #333}
.footer-sum hgroup b span{font-size: 0.15rem;color: #fc4747;}

/*订单详情页面样式*/
.order-item footer > p.points{height: 0.36rem;line-height: 0.36rem;font-size: 0.12rem;color: #666;padding:0 0.1rem;}
.order-item footer > p.points span{color: #fff;background: #E67640;border-radius: 3px;font-size: 0.08rem;padding:1px 3px;margin-right: 0.05rem}
.order-number{background: #fff;padding:0.1rem;font-size: 0.12rem;margin-top: 0.1rem;color: #888}


.ss{margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  height: 100%;
  background: #333;
  opacity: 0.6;
  filter: alpha(opacity=60);
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}
.method{width: 3rem;margin: 0 auto;position: fixed;background-color: #fff;top: 40%;left: 4%;z-index: 10000;display: none;}
.method_blac{height: 0.1rem;background-color: #666;padding-bottom: 0.05rem;}
.method_blac1{height: 0.45rem;border-bottom: 1px solid #eee;padding-top: 0.05rem;}
.method_blac2{height: 0.45rem;margin-top: 0.08rem;}


.insureCode{
  border: 1px solid #C56E6E;
  border-radius: 5px;
  width: 1rem;
  margin-right: 0.05rem;
}
.clearfix>.state{
  float: right;margin-left: .1rem;
  color: #F96267 !important;
}
.clearfix>.btn{
  float: right;margin-left: .1rem;border: 1px solid #F96267;width: .6rem;height: .2rem;border-radius: 4px ;text-align: center;line-height: .2rem !important;margin-top: -0.05rem;
  color: #F96267 !important;
}


.pro-lists{margin-top: 0.86rem;background:#fff;width: 100%;}
.pro-item{width: 100%;height: 0.98rem;overflow: hidden; }
.pro-lists .pro-item:first-child .pro-item-H{border-top: none}
.pro-item .pro-item-M{overflow: hidden;width: 0.88rem;text-align: center;padding:0 0.1rem}

.pro-item .pro-item-H{padding-right: 0.1rem; position: relative;height: 0.96rem;overflow: hidden;}
.pro-item .pro-item-H h2{ font-size: 0.12rem;color: #333;line-height: 0.18rem;overflow : hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical; }
.pro-item .pro-item-H b{color: #fc4747;font-size: 0.15rem;font-weight: normal;}
.pro-item .chose-item{padding-left: 0.1rem;width: 0.13rem;overflow: hidden;display: none;}
.pro-item .chose-item span{background: url(../images/check-n.png) center center no-repeat;background-size: 0.13rem;display: block;height: 0.13rem;}
.pro-item input.chose-allitem{width: 100%;position: absolute;height: 100%;z-index: 9;left: 0;top: 0;opacity: 0}
.pro-item input.chose-allitem:checked + span{background: url(../images/check-s.png) center center no-repeat;background-size: 0.13rem;}


.ppp{width:2rem;height: 0.3rem; position:relative}
.ppp span{  display: inline-block}
.ppp span:nth-child(1){width:0.5rem;height: 0.15rem;position:absolute;top:0;left:0;}
.ppp span:nth-child(2){width:1.5rem;height: 0.3rem;position:absolute;top:0;right:0;overflow:hidden;}

.messageList{display:-moz-inline-box; display:inline-block; word-wrap: break-word;width: 90%;height: 0.2rem; margin-left:0.2rem; overflow: hidden; text-overflow: ellipsis;  -o-text-overflow: ellipsis;  white-space:nowrap;}
.order-green-btn {
  margin-top: 0.16rem;line-height: 0.24rem;border-radius: 4%;width: 80%;margin-left: 10%; font-size: 18px;background-color: #2bae10;color: #FFFFFF;text-align: center;
}

