<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.trustway.weixin.dao.AuctionDao">
    <!-- Result Map -->
    <resultMap id="BaseResultMap" type="cn.trustway.weixin.bean.Auction">
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="starttime" property="starttime" />
        <result column="endtime" property="endtime" />
        <result column="createtime" property="createtime" />
        <result column="creator" property="creator" />
        <result column="modifytime" property="modifytime" />
        <result column="modifier" property="modifier" />
        <result column="businessid" property="businessid" />
        <result column="description" property="description" />
        <result column="status" property="status" />
        <result column="viewnum" property="viewnum" />
        <result column="type" property="type" />
        <result column="isShow" property="isShow" />
        <result column="logopath" property="logoPath" />
        <result column="width" property="width" />
        <result column="height" property="height" />
    </resultMap>

    <!-- sys_menu table all fields -->
    <sql id="Auction_Base_Column_List">
		t.id,t.name,t.starttime,t.endtime,t.createtime,t.creator,t.modifytime,t.modifier,t.businessid,
		t.description,t.status,t.viewnum,t.type,t.isShow
	</sql>

    <!-- 插入记录 -->
    <insert id="add"  parameterType="cn.trustway.weixin.bean.Auction" keyProperty="id" useGeneratedKeys="true">
        insert into
        t_e_auction(id,name,starttime,endtime,createtime,creator,modifytime,
            modifier,businessid,description,status,viewnum,type, isShow, wxid)
        values(null,#{name},#{starttime},#{endtime},now(),#{creator},now(),
            #{modifier},#{businessid},#{description},'1', 0, #{type}, #{isShow}, #{wxid});
    </insert>

    <!-- 根据id，修改记录 -->
    <update id="update" parameterType="Object">
		update t_e_auction set
		name=#{name},starttime=#{starttime},endtime=#{endtime},modifytime=now(),
        modifier=#{modifier},businessid=#{businessid},description=#{description},
        status=#{status}, type=#{type}, isShow=#{isShow}
		where id=#{id}
	</update>

    <!-- 设置开始时间超出当前时间的正常的拍卖会为已开始 -->
    <update id="updateAuctionStart" parameterType="Object">
		update t_e_auction set status='2'
		where status='1' and starttime &lt; now()
 	</update>

    <!-- 设置结束时间超出当前时间的正在拍卖的拍卖会为已结束 -->
    <update id="updateAuctionEnd" parameterType="Object">
		update t_e_auction set status='3'
		where status='2' and endtime &lt; now()
 	</update>

    <!-- 修改记录，只修改只不为空的字段 -->
    <update id="updateBySelective" parameterType="Object">
        update t_e_auction set modifytime=now()
        <if test="name != null and name != '' ">
            ,name=#{name}
        </if>
        <if test="starttime != null and starttime != '' ">
            ,starttime=#{starttime}
        </if>
        <if test="endtime != null and endtime != '' ">
            ,endtime=#{endtime}
        </if>
        <if test="modifier != null and modifier != '' ">
            ,modifier=#{modifier}
        </if>
        <if test="businessid != null and businessid != '' ">
            ,businessid=#{businessid}
        </if>
        <if test="description != null and description != '' ">
            ,description=#{description}
        </if>
        <if test="status != null and status != '' ">
            ,status=#{status}
        </if>
        <if test="type != null and type != '' ">
            ,type=#{type}
        </if>
        <if test="isShow != null and isShow != '' ">
            ,isShow=#{isShow}
        </if>
        where id=#{id}
    </update>

    <!-- 删除记录 -->
    <update id="delete" parameterType="Object">
		update t_e_auction set status = '0' where id = #{id}
	</update>

    <!-- 根据id查询记录 -->
    <select id="queryById" resultMap="BaseResultMap" parameterType="Object">
        select
        <include refid="Auction_Base_Column_List" />
        ,su1.nickname as creatorName,su2.nickname as modifierName, b.name as businessName,
        (select count(1) from t_con_item_res r where r.conid=t.id and r.contype='1') as picCount
        from t_e_auction t
        LEFT JOIN sys_user su1 on t.creator=su1.id
        LEFT JOIN sys_user su2 on t.modifier=su2.id
        LEFT JOIN t_e_business b on t.businessid=b.id
        where t.id = #{id}
    </select>

    <!-- 记录总数 -->
    <select id="queryByCount" resultType="java.lang.Integer"
            parameterType="Object">
        select count(1) from t_e_auction t
        where 1=1 and t.status != '0'
        <trim suffixOverrides=",">
            <if test="name != null and name != ''">
                and t.name like CONCAT('%', #{name}, '%')
            </if>
            <if test="isShow != null and isShow != ''">
                and t.isShow like CONCAT('%', #{isShow}, '%')
            </if>
            <if test="status != null and status != ''">
                and t.status = #{status}
            </if>
            <if test="businessid != null and businessid != ''">
                and t.businessid = #{businessid}
            </if>

        </trim>
    </select>

    <!-- 分页查询记录列表 -->
    <select id="queryByList" resultMap="BaseResultMap" parameterType="Object">
        select
        <include refid="Auction_Base_Column_List" />,
        su1.nickname as creatorName,su2.nickname as modifierName, b.name as businessName,
        wu.nickname as wxName, wu.avatarUrl path,
        (select count(1) from t_con_item_res r where r.conid=t.id and r.contype='1') as picCount,
        (select path from t_con_item_res where t.id=conid and contype='1' order by idx asc limit 1) as logopath,
        (select width from t_con_item_res where t.id=conid and contype='1' order by idx asc limit 1) as width,
        (select height from t_con_item_res where t.id=conid and contype='1' order by idx asc limit 1) as height,
        c.name as typeName
        from t_e_auction t
        left join sys_user su1 on t.creator=su1.id
        left join sys_user su2 on t.modifier=su2.id
        left join t_e_business b on t.businessid=b.id
        left join weixin_user wu on wu.wxid=t.wxid
        left join wx_code c on c.code = t.type
        where 1=1 and t.status != '0'
        <trim suffixOverrides=",">
            <if test="name != null and name != ''">
                and t.name like CONCAT('%', #{name}, '%')
            </if>

            <if test="isShow != null and isShow != ''">
                and t.isShow like CONCAT('%', #{isShow}, '%')
            </if>
            <if test="status != null and status != ''">
                and t.status = #{status}
            </if>
            <if test="businessid != null and businessid != ''">
                and t.businessid = #{businessid}
            </if>

        </trim>

        order by t.modifytime desc
        <if test="pager.orderCondition != null and pager.orderCondition != ''">
            ${pager.orderCondition}
        </if>
        <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''">
            ${pager.mysqlQueryCondition}
        </if>
    </select>

    <select id="queryByJoinAuction" resultMap="BaseResultMap" parameterType="Object">
        select
        <include refid="Auction_Base_Column_List" />,
        (select path from t_con_item_res where t.id=conid and contype='1' order by idx asc limit 1) as logopath,
        (select width from t_con_item_res where t.id=conid and contype='1' order by idx asc limit 1) as width,
        (select height from t_con_item_res where t.id=conid and contype='1' order by idx asc limit 1) as height,
        (select count(1) from t_e_fabulous f where f.fabulousid=t.id and f.fabuloustype='2') as fabulousNum
        <if test="fabulousWxid != null and fabulousWxid != ''">
            ,case when f.wxid is not null then '1' else '0' end as isFabulous
        </if>
        from t_e_auction t
        <if test="fabulousWxid != null and fabulousWxid != ''">
            left join t_e_fabulous f on f.fabulousid=t.id and f.fabuloustype='2' and f.wxid=#{fabulousWxid}
        </if>
        where (1=2
        <if test="wxid != null and wxid != ''">
            or t.wxid = #{wxid}
        </if>
        <if test="businessId != null and businessId != ''">
            or t.businessid = #{businessId}
        </if>
        <if test="auctionIds != null and auctionIds.length > 0">
            or t.id IN
            <foreach collection="auctionIds" index="index" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>) and t.status !='0'
        order by t.starttime desc
    </select>
</mapper>
