<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.trustway.weixin.dao.AuctionItemDao">
    <!-- Result Map -->
    <resultMap id="BaseResultMap" type="cn.trustway.weixin.bean.AuctionItem">
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="type" property="type" />
        <result column="description" property="description" />
        <result column="startTime" property="startTime" />
        <result column="endTime" property="endTime" />
        <result column="startPrice" property="startPrice" />
        <result column="curPrice" property="curPrice" />
        <result column="finalPrice" property="finalPrice" />
        <result column="addPrice" property="addPrice" />
        <result column="depositPrice" property="depositPrice" />
        <result column="rate" property="rate" />
        <result column="detail" property="detail" />
        <result column="status" property="status" />
        <result column="isShow" property="isShow" />
        <result column="auctionStatus" property="auctionStatus" />
        <result column="auctionId" property="auctionId" />
        <result column="businessId" property="businessId" />
        <result column="isshowbanner" property="isShowBanner" />
        <result column="stock" property="stock" />
        <result column="typename" property="typeName" />
        <result column="standard" property="standard" />
        <result column="age" property="age" />
        <result column="degree" property="degree" />
        <result column="attribute" property="attribute" />
        <result column="uploadwxid" property="uploadWxid" />
    </resultMap>

    <!-- sys_menu table all fields -->
    <sql id="AuctionItem_Base_Column_List">
		t.id,t.name,t.type,t.description,t.startTime,t.endTime,t.startPrice,t.curPrice,t.finalPrice,t.businessId,
		t.addPrice,t.depositPrice,t.rate,t.detail,t.status,t.isShow,t.auctionStatus,t.auctionId,
		t.isshowbanner,t.stock,t.standard,t.age,t.degree,t.attribute,t.uploadwxid
	</sql>

    <!-- 插入记录 -->
    <insert id="add" parameterType="cn.trustway.weixin.bean.AuctionItem" keyProperty="id" useGeneratedKeys="true">
        insert into
        t_e_auction_item(id,name,type,description,startTime,endTime,startPrice,curPrice,finalPrice,
		  addPrice,depositPrice,rate,detail,status,isShow,auctionStatus,auctionId,standard,age,degree,
		  businessId,attribute,uploadwxid)
        values(null,#{name},#{type},#{description},#{startTime},#{endTime},#{startPrice},
            #{curPrice},#{finalPrice},#{addPrice},#{depositPrice},#{rate}, #{detail}, '1',
            #{isShow},'0',#{auctionId},#{standard},#{age},#{degree},#{businessId},#{attribute},#{uploadWxid});
    </insert>

    <!-- 根据id，修改记录 -->
    <update id="update" parameterType="Object">
		update t_e_auction_item set
		name=#{name},type=#{type},description=#{description},startTime=startTime,endTime=endTime,
        startPrice=#{startPrice},curPrice=#{curPrice},finalPrice=#{finalPrice},addPrice=#{addPrice},
        depositPrice=#{depositPrice},rate=#{rate},detail=#{detail},status=#{status},isShow=#{isShow},
        auctionStatus=#{auctionStatus},auctionId=#{auctionId}
		where id=#{id}
	</update>

    <!-- 设置开始时间超出当前时间的未开始拍卖的拍卖会为已开始 -->
    <update id="updateAuctionItemStart" parameterType="Object">
		update t_e_auction_item set auctionstatus='1'
		where auctionstatus='0' and status='3' and attribute='0' and starttime &lt; now()
 	</update>

    <!-- 修改记录，只修改只不为空的字段 -->
    <update id="updateBySelective" parameterType="Object">
        update t_e_auction_item set
        <trim suffixOverrides=",">
            <if test="name != null and name != '' ">
                name=#{name},
            </if>
            <if test="type != null and type != '' ">
                type=#{type},
            </if>
            <if test="description != null and description != '' ">
                description=#{description},
            </if>
            <if test="startTime != null and startTime != '' ">
                startTime=#{startTime},
            </if>
            <if test="endTime != null and endTime != '' ">
                endTime=#{endTime},
            </if>
            <if test="startPrice != null and startPrice != '' ">
                startPrice=#{startPrice},
            </if>
            <if test="curPrice != null and curPrice != '' ">
                curPrice=#{curPrice},
            </if>
            <if test="finalPrice != null and finalPrice != '' ">
                finalPrice=#{finalPrice},
            </if>
            <if test="addPrice != null and addPrice != '' ">
                addPrice=#{addPrice},
            </if>
            <if test="depositPrice != null and depositPrice != '' ">
                depositPrice=#{depositPrice},
            </if>
            <if test="rate != null and rate != '' ">
                rate=#{rate},
            </if>
            <if test="detail != null and detail != '' ">
                detail=#{detail},
            </if>
            <if test="status != null and status != '' ">
                status=#{status},
            </if>
            <if test="isShow != null and isShow != '' ">
                isShow=#{isShow},
            </if>
            <if test="auctionStatus != null and auctionStatus != '' ">
                auctionStatus=#{auctionStatus},
            </if>
            <if test="auctionId != null and auctionId != '' ">
                auctionId=#{auctionId},
            </if>
            <if test="isShowBanner != null and isShowBanner != '' ">
                isshowbanner=#{isShowBanner},
            </if>
            <if test="standard != null and standard != '' ">
                standard=#{standard},
            </if>
            <if test="age != null and age != '' ">
                age=#{age},
            </if>
            <if test="degree != null and degree != '' ">
                degree=#{degree},
            </if>
            <if test="businessId != null and businessId != '' ">
                businessid=#{businessId},
            </if>
            <if test="stock != null and stock != '' ">
                stock=#{stock},
            </if>
            <if test="attribute != null and attribute != '' ">
                attribute=#{attribute},
            </if>
            <if test="uploadWxid != null and uploadWxid != '' ">
                uploadWxid=#{uploadWxid},
            </if>
        </trim>
        where id=#{id}
    </update>

    <!-- 删除记录 -->
    <update id="delete" parameterType="Object">
		update t_e_auction_item set status = '0' where id = #{id}
	</update>

    <!-- 根据id查询记录 -->
    <select id="queryById" resultMap="BaseResultMap" parameterType="Object">
        select
        <include refid="AuctionItem_Base_Column_List" />
        ,a.name as auctionname
        from t_e_auction_item t
        LEFT JOIN t_e_auction a on t.auctionId=a.id
        where t.id = #{id} and t.status != '0'
    </select>

    <!-- 记录总数 -->
    <select id="queryByCount" resultType="java.lang.Integer"
            parameterType="Object">
        select count(1) from t_e_auction_item t
        where t.status != '0'
        <trim suffixOverrides=",">
            <if test="name != null and name != ''">
                and t.name like CONCAT('%', #{name}, '%')
            </if>
            <if test="isShow != null and isShow != ''">
                and t.isshow = #{isShow}
            </if>
            <if test="businessId != null and businessId != ''">
                and t.businessId = #{businessId}
            </if>
            <if test="isShowBanner != null and isShowBanner != ''">
                and t.isshowBanner = #{isShowBanner}
            </if>
            <if test="type != null and type != ''">
                and t.type = #{type}
            </if>
            <if test="uploadWxid != null and uploadWxid != ''">
                and t.uploadWxid = #{uploadWxid}
            </if>
            <if test="auctionId != null and auctionId != ''">
                and t.auctionid = #{auctionId}
            </if>
            <if test="status != null and status != ''">
                and t.status = #{status}
            </if>
            <if test="attribute != null and attribute != ''">
                and t.attribute = #{attribute}
            </if>
        </trim>
    </select>

    <!-- 分页查询记录列表 -->
    <select id="queryByList" resultMap="BaseResultMap" parameterType="Object">
        select
        <include refid="AuctionItem_Base_Column_List" />
        ,a.name as auctionname
        ,(select count(1) from t_con_item_res r where r.conid=t.id and r.contype='2') as picCount
        ,c.name as typename
        from t_e_auction_item t
        LEFT JOIN t_e_auction a on t.auctionId=a.id
        LEFT JOIN wx_code c on t.type=c.code
        where t.status != '0'
        <trim suffixOverrides=",">
            <if test="name != null and name != ''">
                and t.name like CONCAT('%', #{name}, '%')
            </if>
            <if test="isShow != null and isShow != ''">
                and t.isshow = #{isShow}
            </if>
            <if test="businessId != null and businessId != ''">
                and t.businessId = #{businessId}
            </if>
            <if test="isShowBanner != null and isShowBanner != ''">
                and t.isshowBanner = #{isShowBanner}
            </if>
            <if test="type != null and type != ''">
                and t.type = #{type}
            </if>
            <if test="uploadWxid != null and uploadWxid != ''">
                and t.uploadWxid = #{uploadWxid}
            </if>
            <if test="auctionId != null and auctionId != ''">
                and t.auctionid = #{auctionId}
            </if>
            <if test="status != null and status != ''">
                and t.status = #{status}
            </if>
            <if test="attribute != null and attribute != ''">
                and t.attribute = #{attribute}
            </if>
        </trim>
        order by t.id desc
        <if test="pager.orderCondition != null and pager.orderCondition != ''">
            ${pager.orderCondition}
        </if>
        <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''">
            ${pager.mysqlQueryCondition}
        </if>
    </select>

    <!-- 查询结束时间超出当前时间的正在拍卖的拍卖品 -->
    <select id="queryInAuctionByList" resultMap="BaseResultMap" parameterType="Object">
        SELECT
        <include refid="AuctionItem_Base_Column_List" />
        FROM
        t_e_auction_item t
        WHERE
        t.STATUS = '3'
        AND t.auctionstatus = '1'
        AND attribute='0'
        AND t.endtime &lt; now()
    </select>


    <update id="updateByItemStatus" parameterType="Object">
        update t_e_auction_item set status = #{status} where id=#{id}
    </update>
</mapper>
