<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.trustway.weixin.dao.AuctionItemDao">
    <!-- Result Map -->
    <resultMap id="BaseResultMap" type="cn.trustway.weixin.bean.AuctionItem">
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="type" property="type" />
        <result column="description" property="description" />
        <result column="startTime" property="startTime" />
        <result column="endTime" property="endTime" />
        <result column="startPrice" property="startPrice" />
        <result column="curPrice" property="curPrice" />
        <result column="finalPrice" property="finalPrice" />
        <result column="addPrice" property="addPrice" />
        <result column="depositPrice" property="depositPrice" />
        <result column="rate" property="rate" />
        <result column="detail" property="detail" />
        <result column="status" property="status" />
        <result column="isShow" property="isShow" />
        <result column="auctionStatus" property="auctionStatus" />
        <result column="auctionId" property="auctionId" />
    </resultMap>

    <!-- sys_menu table all fields -->
    <sql id="Base_Column_List">
		t.id,t.name,t.type,t.description,t.startTime,t.endTime,t.startPrice,t.curPrice,t.finalPrice,
		t.addPrice,t.depositPrice,t.rate,t.detail,t.status,t.isShow,t.auctionStatus,t.auctionId
	</sql>

    <!-- 插入记录 -->
    <insert id="add" parameterType="Object">
        insert into
        t_e_auction_item(id,name,type,description,startTime,endTime,startPrice,curPrice,finalPrice,
		  addPrice,depositPrice,rate,detail,status,isShow,auctionStatus,auctionId)
        values(null,#{name},#{type},#{description},#{startTime},#{endTime},#{startPrice},
            #{curPrice},#{finalPrice},#{addPrice},#{depositPrice},#{rate}, #{detail}, '1',
            #{isShow},'0',#{auctionId});
    </insert>

    <!-- 根据id，修改记录 -->
    <update id="update" parameterType="Object">
		update t_e_auction_item set
		name=#{name},type=#{type},description=#{description},startTime=startTime,endTime=endTime,
        startPrice=#{startPrice},curPrice=#{curPrice},finalPrice=#{finalPrice},addPrice=#{addPrice},
        depositPrice=#{depositPrice},rate=#{rate},detail=#{detail},status=#{status},isShow=#{isShow},
        auctionStatus=#{auctionStatus},auctionId=#{auctionId},
		where id=#{id}
	</update>

    <!-- 修改记录，只修改只不为空的字段 -->
    <update id="updateBySelective" parameterType="Object">
        update t_e_auction_item set
        <trim suffixOverrides=",">
            <if test="name != null and name != '' ">
                name=#{name},
            </if>
            <if test="type != null and type != '' ">
                type=#{type},
            </if>
            <if test="description != null and description != '' ">
                description=#{description},
            </if>
            <if test="startTime != null and startTime != '' ">
                startTime=#{startTime},
            </if>
            <if test="endTime != null and endTime != '' ">
                endTime=#{endTime},
            </if>
            <if test="startPrice != null and startPrice != '' ">
                startPrice=#{startPrice},
            </if>
            <if test="curPrice != null and curPrice != '' ">
                curPrice=#{curPrice},
            </if>
            <if test="finalPrice != null and finalPrice != '' ">
                finalPrice=#{finalPrice},
            </if>
            <if test="addPrice != null and addPrice != '' ">
                addPrice=#{addPrice},
            </if>
            <if test="depositPrice != null and depositPrice != '' ">
                depositPrice=#{depositPrice},
            </if>
            <if test="rate != null and rate != '' ">
                rate=#{rate},
            </if>
            <if test="detail != null and detail != '' ">
                detail=#{detail},
            </if>
            <if test="status != null and status != '' ">
                status=#{status},
            </if>
            <if test="isShow != null and isShow != '' ">
                isShow=#{isShow},
            </if>
            <if test="auctionStatus != null and auctionStatus != '' ">
                auctionStatus=#{auctionStatus},
            </if>
            <if test="auctionId != null and auctionId != '' ">
                auctionId=#{auctionId},
            </if>
        </trim>
        where id=#{id}
    </update>

    <!-- 删除记录 -->
    <update id="delete" parameterType="Object">
		update t_e_auction_item set status = '0' where id = #{id}
	</update>

    <!-- 根据id查询记录 -->
    <select id="queryById" resultMap="BaseResultMap" parameterType="Object">
        select
        <include refid="Base_Column_List" />
        ,a.name as auctionname
        from t_e_auction_item t
        LEFT JOIN t_e_auction a on t.auctionId=a.id
        where t.id = #{id} and t.status = '1'
    </select>

    <!-- 记录总数 -->
    <select id="queryByCount" resultType="java.lang.Integer"
            parameterType="Object">
        select count(1) from t_e_auction_item
    </select>

    <!-- 分页查询记录列表 -->
    <select id="queryByList" resultMap="BaseResultMap" parameterType="Object">
        select
        <include refid="Base_Column_List" />
        ,a.name as auctionname
        ,(select count(1) from t_con_item_res r where r.conid=t.id and r.contype='2') as picCount
        from t_e_auction_item t
        LEFT JOIN t_e_auction a on t.auctionId=a.id
        where 1=1 and t.status = '1'
        <trim suffixOverrides=",">
            <if test="name != null and name != ''">
                and t.name like CONCAT('%', #{name}, '%')
            </if>
            <if test="isShow != null and isShow != ''">
                and t.isshow = #{isShow}
            </if>
        </trim>
        order by t.id desc
        <if test="pager.orderCondition != null and pager.orderCondition != ''">
            ${pager.orderCondition}
        </if>
        <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''">
            ${pager.mysqlQueryCondition}
        </if>
    </select>
</mapper>
