<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.trustway.weixin.dao.BidDao">
    <!-- Result Map -->
    <resultMap id="BaseResultMap" type="cn.trustway.weixin.bean.BidBean">
        <result column="id" property="id" />
        <result column="wxid" property="wxid" />
        <result column="wxUserName" property="wxUserName" />
        <result column="auctionItemId" property="auctionItemId" />
        <result column="auctionItemName" property="auctionItemName" />
        <result column="bidPrice" property="bidPrice" />
        <result column="status" property="status" />
        <result column="bidTime" property="bidTime" />
        <result column="avatarUrl" property="avatarUrl" />
    </resultMap>

    <!-- sys_menu table all fields -->
    <sql id="Bid_Base_Column_List">
        t.id,t.wxid,t.auctionItemId,t.bidPrice,t.status,t.bidTime,t.status
    </sql>

    <!-- 插入记录 -->
    <insert id="add" parameterType="Object">
        insert into
        t_e_bid(id,wxid,auctionItemId,bidPrice,status,bidTime)
        values(null,#{wxid},#{auctionItemId},#{bidPrice},#{status},now())
    </insert>

    <!-- 根据id，修改记录 -->
    <update id="update" parameterType="Object">
        update t_e_bid set
        wxid=#{wxid},auctionItemId=#{auctionItemId},bidPrice=#{bidPrice},
        status=#{status},bidTime=now() where id=#{id}
    </update>

    <!-- 修改记录，只修改只不为空的字段 -->
    <update id="updateBySelective" parameterType="Object">
        update t_e_bid set id=#{id}
        where id=#{id}
    </update>

    <!-- 设置商品所有出价记录为出局 -->
    <update id="updateBidOutByAuctionItemId" parameterType="Object">
        update t_e_bid set status='0'
        where auctionitemid=#{auctionitemid}
    </update>

    <!-- 删除记录 -->
    <update id="delete" parameterType="Object">
        delete from t_e_bid where id = #{id}
    </update>

    <!-- 根据id查询记录 -->
    <select id="queryById" resultMap="BaseResultMap" parameterType="Object">
        select
        <include refid="Bid_Base_Column_List" />
        from t_e_bid t where t.id = #{id}
    </select>

    <!-- 记录总数 -->
    <select id="queryByCount" resultType="java.lang.Integer"
            parameterType="Object">
        select count(1) from t_e_bid
    </select>

    <!-- 分页查询记录列表 -->
    <select id="queryByList" resultMap="BaseResultMap" parameterType="Object">
        select
        <include refid="Bid_Base_Column_List" />
        ,w.nickname as wxUserName,w.avatarUrl  ,a.name as auctionItemName
        from t_e_bid t
        LEFT JOIN weixin_user w on t.wxid=w.wxid
        LEFT JOIN t_e_auction_item a on t.auctionitemid=a.id
        where 1=1
        <trim suffixOverrides=",">
            <if test="auctionItemId != null and auctionItemId != ''">
                and auctionItemId = #{auctionItemId}
            </if>
        </trim>
        order by t.status asc, t.bidtime desc
        <if test="pager.orderCondition != null and pager.orderCondition != ''">
            ${pager.orderCondition}
        </if>
        <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''">
            ${pager.mysqlQueryCondition}
        </if>
    </select>

    <!-- 根据拍卖品id查询最高出价记录(领先记录) -->
    <select id="queryBidByItemId" resultMap="BaseResultMap" parameterType="Object">
        select
        <include refid="Bid_Base_Column_List" />
        from
            t_e_bid t
        where
            t.auctionitemid = #{auctionItemId}
        and status = '1'
        order by
            bidtime desc
        limit 1
    </select>
</mapper>
