<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.trustway.weixin.dao.MessageDao">
    <!-- Result Map -->
    <resultMap id="BaseResultMap" type="cn.trustway.weixin.bean.Message">
        <result column="id" property="id" />
        <result column="parentId" property="parentId" />
        <result column="v5id" property="v5Id" />
        <result column="messagenote" property="messagenote" />
        <result column="messagetype" property="messagetype" />
        <result column="status" property="status" />
        <result column="wxid" property="wxid" />
        <result column="toWxid" property="toWxid" />
        <result column="createtime" property="createtime" />
    </resultMap>

    <!-- sys_menu table all fields -->
    <sql id="Message_Base_Column_List">
		t.id,t.parentId,t.messagenote,t.messagetype,t.status,t.wxid,t.toWxid, t.createtime
	</sql>

    <!-- 插入记录 -->
    <insert id="add" parameterType="Object">
        insert into
        t_e_message(id,parentId,v5Id,messagenote,messagetype,status,wxid,toWxid, createtime )
        values(null,#{parentId},#{v5Id},#{messagenote},#{messagetype},#{status},#{wxid},#{toWxid},now() );
    </insert>

    <!-- 根据id，修改记录 -->
    <update id="update" parameterType="Object">
		update t_e_message set status=#{status} where id=#{id}
	</update>

    <!-- 删除记录 -->
    <update id="delete" parameterType="Object">
		update t_e_message set status = '0' where id = #{id}
	</update>

    <!-- 根据id查询记录 -->
    <select id="queryById" resultMap="BaseResultMap" parameterType="Object">
        select
          <include refid="Message_Base_Column_List" /> ,wu.nickname as nickname , wu.avatarUrl as path ,
        wu1.nickname as tonickname , wu1.avatarUrl as topath
        from t_e_message t
        left join weixin_user wu on t.wxid  =  wu.wxid
        left join weixin_user wu1 on t.towxid = wu1.wxid
        where t.id = #{id}
    </select>


    <!-- 记录总数 -->
    <select id="queryByCount" resultType="java.lang.Integer"
            parameterType="Object">
        select count(1) from t_e_message t
        where   t.status != '0'
        <trim suffixOverrides=",">
            <if test="status != null and status != ''">
                and t.status = #{status}
            </if>
            <if test="status != null and status != ''">
                and t.v5id = #{v5Id}
            </if>
        </trim>
    </select>

    <!-- 分页查询记录列表 -->
    <select id="queryByList" resultMap="BaseResultMap" parameterType="Object">
        select
            <include refid="Message_Base_Column_List" /> ,wu.nickname as nickname , wu.avatarUrl as path ,
        wu1.nickname as tonickname , wu1.avatarUrl as topath
        from t_e_message t
        left join weixin_user wu on t.wxid  =  wu.wxid
        left join weixin_user wu1 on t.towxid = wu1.wxid
        where
        t.parentId IS  NULL
        <trim suffixOverrides=",">
            <if test="status != null  ">
                and t.status = #{status}
            </if>
            <if test="parentId != null ">
                and t.parentId = #{parentId}
            </if>
            <if test="v5Id != null and v5Id != ''">
                and t.v5id = #{v5Id}
            </if>
        </trim>

        order by t.createtime asc
        <if test="pager.orderCondition != null and pager.orderCondition != ''">
            ${pager.orderCondition}
        </if>
        <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''">
            ${pager.mysqlQueryCondition}
        </if>
    </select>

    <!-- 分页查询记录列表 -->
    <select id="queryParentByList" resultMap="BaseResultMap" parameterType="Object">
        select
        <include refid="Message_Base_Column_List" />,wu.nickname as nickname , wu.avatarUrl as path ,
        wu1.nickname as tonickname , wu1.avatarUrl as topath
        from t_e_message t
        left join weixin_user wu on t.wxid  =  wu.wxid
        left join weixin_user wu1 on t.towxid = wu1.wxid
        where
        t.parentId IS NOT NULL
        <trim suffixOverrides=",">

            <if test="parentId != null ">
                and t.parentId = #{parentId}
            </if>
        </trim>
        order by t.createtime desc
    </select>
</mapper>
