<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.trustway.weixin.dao.OrderDao">
    <!-- Result Map -->
    <resultMap id="BaseResultMap" type="cn.trustway.weixin.bean.Order">
        <result column="id" property="id" />
        <result column="ordertype" property="orderType" />
        <result column="ordermoney" property="orderMoney" />
        <result column="createtime" property="createTime" />
        <result column="paytime" property="payTime" />
        <result column="invalidtime" property="invalidTime" />
        <result column="transactionid" property="transactionId" />
        <result column="prepayid" property="prepayId" />
        <result column="status" property="status" />
        <result column="wxid" property="wxid" />
        <result column="addressid" property="addressId" />
        <result column="itemid" property="itemId" />
        <result column="updatetime" property="updateTime" />
    </resultMap>

    <!-- sys_menu table all fields -->
    <sql id="Order_Base_Column_List">
        t.id, t.ordertype, t.ordermoney, t.createtime, t.paytime, t.invalidtime,
        t.transactionid, t.prepayId, t.status, t.wxid, t.addressid, t.itemid, t.updatetime
    </sql>

    <!-- 插入记录 -->
    <insert id="add" parameterType="cn.trustway.weixin.bean.Order" keyProperty="id" useGeneratedKeys="true">
        insert into
        t_e_order(id, ordertype, ordermoney, createtime, paytime, invalidtime,
          status, wxid, addressid, itemid, updatetime)
        values(null,#{orderType},#{orderMoney},#{createTime},null,date_add(now(), interval 72 hour),
          '2',#{wxid},#{addressId},#{itemId},now())
    </insert>

    <!-- 根据id，修改记录 -->
    <update id="update" parameterType="Object">
        update t_e_order set
        ordertype=#{orderType},ordermoney=#{orderMoney},paytime=#{payTime},prepayid=#{prepayId},
        transactionid=#{transactionId},status=#{status},addressid=#{addressId},itemid=#{itemId},updatetime=now()
        where id=#{id}
    </update>

    <!-- 修改记录，只修改只不为空的字段 -->
    <update id="updateBySelective" parameterType="Object">
        update t_e_order set updatetime=now()
        <if test="orderType != null and orderType != '' ">
            ,ordertype=#{orderType}
        </if>
        <if test="orderMoney != null and orderMoney != '' ">
            ,ordermoney=#{orderMoney}
        </if>
        <if test="payTime != null and payTime != '' ">
            ,paytime=#{payTime}
        </if>
        <if test="status != null and status != '' ">
            ,status=#{status}
        </if>
        <if test="addressId != null and addressId != '' ">
            ,addressid=#{addressId}
        </if>
        <if test="prepayId != null and prepayId != '' ">
            ,prepayid=#{prepayId}
        </if>
        <if test="transactionId != null and transactionId != '' ">
            ,transactionid=#{transactionId}
        </if>
        where id=#{id}
    </update>

    <!-- 删除记录 -->
    <update id="delete" parameterType="Object">
        update t_e_order set status='0' where id = #{id}
    </update>

    <!-- 根据id查询记录 -->
    <select id="queryById" resultMap="BaseResultMap" parameterType="Object">
        select
        <include refid="Order_Base_Column_List" />
        from t_e_order t where t.id = #{id}
    </select>

    <!-- 记录总数 -->
    <select id="queryByCount" resultType="java.lang.Integer"
            parameterType="Object">
        select count(1) from t_e_order
    </select>

    <select id="queryInvalidOrderList" resultMap="BaseResultMap" parameterType="Object">
        select
        <include refid="Order_Base_Column_List" />
        from t_e_order t
        where status='2' and invalidtime &lt; now()
    </select>

    <!-- 分页查询记录列表 -->
    <select id="queryByList" resultMap="BaseResultMap" parameterType="Object">
        select
        <include refid="Order_Base_Column_List" />
        ,item.name as itemName, item.description ,wu.nickname as wxName,ua.address as addressName ,teb.name as businessName
        from (t_e_order t,t_e_auction_item item,weixin_user wu)
        left join t_e_user_addr ua on t.addressid=ua.id
        left join t_e_business teb on item.businessId=teb.id
        where 1=1 and t.status!='0'
        and t.itemid=item.id and t.wxid=wu.wxid
        <trim suffixOverrides=",">
            <if test="itemId != null and itemId != ''">
                and t.itemid = #{itemId}
            </if>
            <if test="itemName != null and itemName != ''">
                and item.name like CONCAT('%', #{itemName}, '%')
            </if>
            <if test="orderType != null and orderType != ''">
                and t.ordertype = #{orderType}
            </if>
            <if test="wxid != null and wxid != ''">
                and t.wxid = #{wxid}
            </if>
            <if test="status != null and status != ''">
                and t.status = #{status}
            </if>
        </trim>
        <if test="pager.orderCondition != null and pager.orderCondition != ''">
            ${pager.orderCondition}
        </if>
        <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''">
            ${pager.mysqlQueryCondition}
        </if>
    </select>
</mapper>
