<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.trustway.weixin.dao.WeixinUserDao">
	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="cn.trustway.weixin.bean.WeixinUser">
		<result column="id" property="id"/>
		<result column="wxid" property="wxid"/>
		<result column="phonenum" property="phoneNum"/>
		<result column="balance" property="balance"/>
		<result column="moneyextracting" property="moneyExtracting"/>
		<result column="extractedmoney" property="extractedMoney"/>
		<result column="nickname" property="nickName"/>
		<result column="avatarUrl" property="avatarUrl"/>
		<result column="bussinessname" property="bussinessName"/>
		<result column="businessaddress" property="businessAddress"/>
		<result column="wxaccount" property="wxAccount"/>
		<result column="integral" property="integral"/>
		<result column="countintegral" property="countIntegral"/>
		<result column="vipGrade" property="vipGrade"/>
	</resultMap>

	<!-- sys_user table all fields -->
	<sql id="WeixinUser_Base_Column_List">
		id,wxid,phonenum,balance,moneyextracting,extractedmoney,nickname,avatarUrl,bussinessname,businessaddress,wxaccount,integral,countIntegral,vipGrade
	</sql>


	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null">
				and id = #{id}
			</if>
			<if test="wxid != null and wxid != ''">
				and wxid = #{wxid}
			</if>
			<if test="nickName != null and nickName != ''">
				and nickname = like CONCAT('%', #{nickName}, '%')
			</if>
		</trim>
	</sql>


	<!-- 插入记录 -->
	<insert id="add" parameterType="Object">
		insert into
		weixin_user(id,wxid,phonenum,nickname,avatarUrl)
		values(null,#{wxid},#{phoneNum},#{nickName},#{avatarUrl})
	</insert>
	<insert id="insertWeixinUser" parameterType="Object">
		<selectKey resultType="java.lang.Integer" order="BEFORE"
			keyProperty="xh">
			SELECT SEQ_WEIXIN_USER_XH.NEXTVAL AS ID FROM DUAL
		</selectKey>
		insert into
		weixin_user(xh,wxid,zt)
		values(#{xh},#{wxid},#{zt})
	</insert>

	<!-- 根据id，修改记录 -->
	<update id="update" parameterType="Object">
		update weixin_user set
		wxid=#{wxid},nickname=#{nickName}
		where id=#{id}
	</update>

	<!-- 修改记录，只修改只不为空的字段 -->
	<update id="updateBySelective" parameterType="Object">
		update weixin_user set
		<trim suffixOverrides=",">
			<if test="phoneNum != null  and phoneNum != '' ">
				phonenum=#{phoneNum},
			</if>
			<if test="balance != null  and balance != '' ">
				balance=#{balance},
			</if>
			<if test="moneyExtracting != null  and moneyExtracting != '' ">
				moneyextracting=#{moneyExtracting},
			</if>
			<if test="extractedMoney != null  and extractedMoney != '' ">
				extractedmoney=#{extractedMoney},
			</if>
			<if test="nickName != null  and nickName != '' ">
				nickname=#{nickName},
			</if>
			<if test="avatarUrl != null  and avatarUrl != '' ">
				avatarUrl=#{avatarUrl},
			</if>
			<if test="bussinessName != null  and bussinessName != '' ">
				bussinessname=#{bussinessName},
			</if>
			<if test="businessAddress != null  and businessAddress != '' ">
				businessaddress=#{businessAddress},
			</if>
			<if test="wxAccount != null  and wxAccount != '' ">
				wxaccount=#{wxAccount},
			</if>
			<if test="integral != null  and integral != '' ">
				integral=#{integral},
			</if>
			<if test="countIntegral != null  and countIntegral != '' ">
				countIntegral=#{countIntegral},
			</if>
		</trim>
		where wxid=#{wxid}
	</update>
	
	<!-- 更新微信用户操作时间 -->
	<update id="updateUserOperTime" parameterType="string">
		update weixin_user set ylzd1=to_char(sysdate, 'YYYY-MM-DD HH24:MI:SS') where wxid=#{wxid}
	</update>

	<!-- 更新微信用户余额 -->
	<update id="updateByBal" parameterType="Object">
		update weixin_user set balance = #{balance} where wxid=#{wxid}
	</update>

	<!-- 更新微信用户提现中金额 -->
	<update id="updateByExtracting" parameterType="Object">
		update weixin_user set moneyextracting = #{moneyExtracting} where wxid=#{wxid}
	</update>

	<!-- 删除记录 -->
	<delete id="delete" parameterType="Object">
		delete from weixin_user where id = #{id}
	</delete>

	<!-- 根据id查询微信用户 -->
	<select id="queryById" resultMap="BaseResultMap" parameterType="Object">
		select
		<include refid="WeixinUser_Base_Column_List" />
		from weixin_user where id = #{id}
	</select>

	<!-- 系统用户 列表总数 -->
	<select id="queryByCount" resultType="java.lang.Integer"
		parameterType="Object">
		select count(1) from weixin_user
		<include refid="Example_Where_Clause" />
	</select>

	<!-- 查询系统用户列表 -->
	<select id="queryByList" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="WeixinUser_Base_Column_List" />
		from weixin_user
		<include refid="Example_Where_Clause" />
		<if test="pager.orderCondition != null and pager.orderCondition != ''">
			${pager.orderCondition}
		</if>
		<if
			test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''">
			${pager.mysqlQueryCondition}
		</if>
	</select>
	
	<!-- 根据wxid查询 系统用户 -->
	<select id="queryWeixinUser" resultMap="BaseResultMap" parameterType="string">
		select
		<include refid="WeixinUser_Base_Column_List" />,
		(select count(1) from t_e_follow tef where tef.followtype = 1 and tef.followid = wu.id) as followNum
		from weixin_user wu where wu.wxid = #{wxid}
	</select>


</mapper>   
